@import '../../assets/styles/queries/queries';
@import '../../assets/styles/variables/mixins';
@import '../../assets/styles/variables/colors';
@import '../../assets/styles/queries/queries';

.chat {
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 0.3rem;
  @include respond(phone-first) {
    @include flex-Vcenter-Hcenter;
  }
  background: $background-chat;
  border-radius: 1rem;
  width: 100%;
  height: 74vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &__accordion {
    width: 100%;
    padding: 8px;
    padding-bottom: 0;
    margin-bottom: auto;
  }
  &__main {
    width: 100%;
    padding: 8px;
    padding-top: 0;
    position: relative;
  }
}
