@import '../assets/styles/queries/queries';
@import '../assets/styles/variables/colors';
@import '../assets/styles/variables/mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  @include flex-Vcenter-Hcenter;
  &__main {
    font-size: 2rem;
    min-height: 100vh;
    // max-width: 79.4rem;
    // min-width: 85.4rem;
    // width: clamp(85.4rem, 75%, 20rem);
    width: clamp(120rem, 75%, 20rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}
